@{
    List<ListadoEquiposAsignadosUsuario_Result> detalles = (List<ListadoEquiposAsignadosUsuario_Result>)ViewBag.ListadoDetalles;
    int contador = 0;
}

<div class="col-lg-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 id="texto-informacion-principal" class="box-title">@ViewBag.TituloPanelDetalle </h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row fila-seccion">
                <div class="col-md-12">
                    <table class="table table-responsive" id="tbl-Detalles">
                        <thead>
                            <tr>
                                <th data-override="IDRequerimientoEquipo">IDRequerimientoEquipo</th>
                                <th data-override="IDEquipo" hidden>IdEquipo</th>
                                <th data-override="Equipo">Equipo</th>
                                <th data-override="TipoEquipo">Tipo de Equipo</th>
                                <th data-override="FechaModificacion">Fecha de Modificación</th>
                                <th data-override="Estado">Estado Asignación Usuario</th>
                                <th data-override="Devolucion">Estado Devolución</th>
                                <th data-override="Observaciones">Observaciones</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            @foreach (var item in detalles)
                            {
                            <tr id="templateDetalles-@item.IDRequerimientoEquipoUsuario">
                                <td>
                                    <input type="text" class="form-control" value="@item.IDRequerimientoEquipo" name="IDRequerimientoEquipo[]" />
                                </td>
                                <td hidden>
                                    <input type="text" class="form-control" value="@item.IDEquipo" name="IDEquipo[]" id="IDEquipo_@item.IDRequerimientoEquipoUsuario" />
                                </td>
                                <td>
                                    <input title="@item.Equipo" type="text" class="form-control" value="@item.Equipo" name="Equipo[]" maxlength="50" required disabled="disabled" />
                                </td>
                                <td>
                                    <input title="@item.TipoEquipo" type="text" class="form-control" value="@item.TipoEquipo" name="TipoEquipo[]" maxlength="50" required disabled="disabled" />
                                </td>
                                <td>
                                    <input title="@(item.FechaModificacion?.ToString("dd/MM/yyyy hh:mm"))" type="text" name="FechaModificacion[]" class="form-control pull-right datepicker campo-requerido" value="@(item.FechaModificacion?.ToString("dd/MM/yyyy"))" disabled="disabled">
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group">
                                            @Html.DropDownList("Estado_" + item.IDRequerimientoEquipoUsuario, CatalogoDAL.ObtenerListadoCatalogosByCodigoSeleccion("ESTADO-ASIGNACION-EQUIPOS", (item.Estado ?? 0).ToString()), Etiquetas.TituloComboVacio, new { @class = "form-control tracking-select", onfocus = "PreCambioEstado(this);", onchange = "OnChangeEstadoAsignacion(this);", tipo = item.TipoEquipo })
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group">
                                            @Html.DropDownList("Devolucion_" + item.IDRequerimientoEquipoUsuario, CatalogoDAL.ObtenerListadoCatalogosByCodigoSeleccion("ESTADO-DEVOLUCION-EQUIPOS", (item.Devolucion ?? 0).ToString()), Etiquetas.TituloComboVacio, new { @class = "form-control reasignacion-devolucion", onfocus = "PreCambioDevolucion(this);", tipo = item.TipoEquipo })
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input id="Observaciones_@item.IDRequerimientoEquipoUsuario" title="@item.Observaciones" type="text" class="form-control" value="@item.Observaciones" name="TipoEquipo[]" maxlength="50" required />
                                </td>
                                <td>
                                    <i id="Guardar_@item.IDRequerimientoEquipoUsuario" class="btn btn-warning glyphicon glyphicon-check" onclick="Guardar(this)"></i>
                                </td>
                            </tr>
                                    contador++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

