@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="cargando-grid">
    <div id="preloader-grid"></div>
</div>

@Html.AjaxGrid(Url.Action("_IndexGrid"))

@section ViewSpecificJavascript {
    <script>
        
        var idGrid = "grid-AprobacionRequerimientoEquipo";

        var urlAccionCrear = '@Url.Action("Formulario")';

        var urlAccionReporteExcel = '@Url.Action("DescargarReporteFormatoExcel")';
        var urlAccionReportePDF = '@Url.Action("DescargarReporteFormatoPDF")';
        var urlAccionReporteCSV = '@Url.Action("DescargarReporteFormatoCSV")';

        $(document).ready(function () {
            
            recargarGridByID(idGrid);
        })

        function CrearRegistro() {
            location.href = urlAccionCrear;
        }

        function ExportarRegistrosFormatoEXCEL() {
            location.href = urlAccionReporteExcel;
        }
        function ExportarRegistrosFormatoPDF() {
            location.href = urlAccionReportePDF;
        }
        function ExportarRegistrosFormatoCSV() {
            location.href = urlAccionReporteCSV;
        }

        function RecargarDatosGrid() {
            recargarGridByID(idGrid);
        }

        $(document).keydown(callBackBusqueda);
        $(document).keypress(callBackBusqueda);
        $(document).keyup(callBackBusqueda);

        function callBackBusqueda(e) {
            
            busquedaGrid(idGrid);
        }

        $('#contenido-modal').on('hidden.bs.modal', function () {
            
            RecargarDatosGrid()
        })
    </script>
}

