@{
    UsuarioInfo Usuario = (UsuarioInfo)ViewBag.DatosUsuario;
    IngresosInfo Ingreso = (IngresosInfo)ViewBag.InformacionIngreso;
}

<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 id="texto-informacion-principal" class="box-title">Información Principal Usuario </h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">

                <div class="row fila-seccion">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="etiqueta-seccion control-label col-md-4">Nombres: </label>
                            <div class="col-md-8" onkeypress="return soloLetras(event)">
                                @Html.Editor("Nombres", new { htmlAttributes = new { @class = "form-control campo-requerido", @Value = Usuario.Nombres, required = "", @disabled = "disabled", maxlength = "150" } })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="etiqueta-seccion control-label col-md-4">Apellidos: </label>
                            <div class="col-md-8" onkeypress="return soloLetras(event)">
                                @Html.Editor("Apellidos", new { htmlAttributes = new { @class = "form-control campo-requerido", @Value = Usuario.Apellidos, required = "", @disabled = "disabled", maxlength = "200" } })
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="row  fila-seccion">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="etiqueta-seccion control-label col-md-4">Correo Asignado: </label>
                            <div class="col-md-8">
                                @Html.Editor("MailCorporativo", new { htmlAttributes = new { @class = "form-control campo-requerido", @Value = Ingreso.CorreoAsignado, required = "", @disabled = "disabled" } })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="etiqueta-seccion control-label col-md-4">Correo Personal: </label>
                            <div class="col-md-8">
                                @Html.Editor("Mail", new { htmlAttributes = new { @class = "form-control", @Value = Usuario.Mail, required = "", @disabled = "disabled" } })
                            </div>
                        </div>
                    </div>
                </div>*@

                <div class="row  fila-seccion">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="etiqueta-seccion control-label col-md-4">Fecha Ingreso: </label>
                            <div class="col-md-8">
                                @Html.Editor("FechaIngreso", new { htmlAttributes = new { @class = "form-control", @Value = Ingreso.FechaIngreso.Value.ToString("yyyy/MM//dd"), required = "", @disabled = "disabled" } })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="etiqueta-seccion control-label col-md-4">Identificación: </label>
                            <div class="col-md-8" onkeypress="if(isNaN(String.fromCharCode(event.keyCode))) return false;">
                                @Html.Editor("Identificacion", new { htmlAttributes = new { @class = "form-control", @Value = Ingreso.IdentificacionUsuario, required = "", @disabled = "disabled", maxlength = "20" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row  fila-seccion">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="etiqueta-seccion control-label col-md-4">Cargo: </label>
                            <div class="col-md-8">
                                @Html.Editor("Cargo", new { htmlAttributes = new { @class = "form-control", @Value = Usuario.TextoCatalogoCargo, required = "", @disabled = "disabled" } })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="etiqueta-seccion control-label col-md-4">Jefe Directo: </label>
                            <div class="col-md-8">
                                @Html.Editor("JefeDirecto", new { htmlAttributes = new { @class = "form-control", @Value = Ingreso.TextoCatalogoJefeDirecto, required = "", @disabled = "disabled" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row  fila-seccion">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="etiqueta-seccion control-label col-md-2">Departamento:</label>
                            <div class="col-md-10">
                                @Html.DropDownList("Departamento", CatalogoDAL.ListadoCatalogosPorCodigoId("DEPARTAMENTO", (Usuario.IdEmpresa ?? 0), (Usuario.Departamento ?? 0).ToString()), Etiquetas.TituloComboVacio, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row  fila-seccion">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="etiqueta-seccion control-label col-md-2">Empresa:</label>
                            <div class="col-md-10">
                                @Html.DropDownList("Empresa", CatalogoDAL.ObtenerListadoCatalogosByCodigoSeleccion("EMP-01", (Usuario.IdEmpresa ?? 0).ToString()), Etiquetas.TituloComboVacio, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row  fila-seccion">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="etiqueta-seccion control-label col-md-4">Tipo de Ingreso: </label>
                            <div class="col-md-8">
                                @Html.Editor("TipoIngreso", new { htmlAttributes = new { @class = "form-control", @Value = Ingreso.TextoCatalogoTipoIngreso, required = "", @disabled = "disabled" } })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="etiqueta-seccion control-label col-md-4">Reemplazo: </label>
                            <div class="col-md-8" onkeypress="return soloLetras(event)">
                                @Html.Editor("Reemplazo", new { htmlAttributes = new { @class = "form-control", @Value = Ingreso.PersonaReemplazante, required = "", @disabled = "disabled", maxlength = "200" } })
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


