@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="cargando-grid">
    <div id="preloader-grid"></div>
</div>

@Html.AjaxGrid(Url.Action("_IndexGrid"))

@section ViewSpecificJavascript {
    <script>

        var urlAccionCrear = '@Url.Action("_SeleccionarUsuario")';
        var idGrid = "grid-RequerimientoEquipo";

        @*var urlAccionCrear = '@Url.Action("Formulario")';*@

        var urlAccionReporteExcel = '@Url.Action("DescargarReporteFormatoExcel")';
        var urlAccionReportePDF = '@Url.Action("DescargarReporteFormatoPDF")';
        var urlAccionReporteCSV = '@Url.Action("DescargarReporteFormatoCSV")';
        var trackingSeteado = 0;

        $(document).ready(function () {            
            recargarGridByID(idGrid);            
        })

        

        function PreCambioTracking(dropdown) {
            $('#' + dropdown.id).data('anteriorTracking', $('#' + dropdown.id).val());          
        }

        function CambiarTracking(dropdown) { 
            var idRequerimientoEquipo = dropdown.id.replace('Tracking', '');
            var idTracking = $('#' + dropdown.id).find(":selected").val();
            var url = '@Url.Action("_CambiarTracking", "RequerimientoEquipo")?idTracking=' + idTracking + '&idRequerimientoEquipo=' + idRequerimientoEquipo;
            var trackingSeleccionado = $('#' + dropdown.id)[0].selectedIndex;

            $("#preloader").show();
            if (trackingSeleccionado !== 0) {                
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    error: function (error) {
                        $('#' + dropdown.id)[0].selectedIndex = 0;
                        $("#preloader").hide();
                        toastr.error(error.statusText);
                    },
                    success: function (result) {
                        $("#preloader").hide();
                        toastr.success("Tracking Actualizado!")
                    },
                    async: true,
                    processData: false
                });
            } else {
                var anteriorTracking = $('#' + dropdown.id).data('anteriorTracking');
                $('#' + dropdown.id).val(anteriorTracking);                
                $("#preloader").hide();
                toastr.error("No se puede dejar vacío el Tracking");
            }
        }

        function CrearRegistro() {
            //location.href = urlAccionCrear;
            _GetCreate(null, urlAccionCrear);
            $('#contenido-modal').modal({
                'show': 'true',
                'backdrop': 'static',
                'keyboard': false
            });
        }

        function ExportarRegistrosFormatoEXCEL() {
            location.href = urlAccionReporteExcel;
        }
        function ExportarRegistrosFormatoPDF() {
            location.href = urlAccionReportePDF;
        }
        function ExportarRegistrosFormatoCSV() {
            location.href = urlAccionReporteCSV;
        }

        function RecargarDatosGrid() {
            recargarGridByID(idGrid);
        }

        $(document).keydown(callBackBusqueda);
        $(document).keypress(callBackBusqueda);
        $(document).keyup(callBackBusqueda);

        function callBackBusqueda(e) {

            busquedaGrid(idGrid);
        }

        $('#contenido-modal').on('hidden.bs.modal', function () {

            RecargarDatosGrid()
        })
    </script>
    <script src="~/Content/js/plugins/select2/select2.min.js"></script>
}

